<%= form_with(model: [tier_list_item.tier_list, tier_list_item], local: true) do |form| %>
  <% if tier_list_item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(tier_list_item.errors.count, "error") %> prohibited this tier_list_item from being saved:</h4>
      <ul>
        <% tier_list_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tier, class: "form-label" %>
    <%= form.number_field :tier, min: 1, max: tier_list_item.tier_list.numTiers, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :justification, class: "form-label" %>
    <%= form.text_area :justification, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <%= form.hidden_field :tier_list_id, value: @tier_list.id %>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
