<p id="notice"><%= notice %></p>
<body style="background-color:tan;">
  <div class="container">
    <h6 role="heading">
      <strong>Name:</strong>
      <%= @tier_list_item.name %>
    </h6>

    <h6 role="heading">
      <strong>Description:</strong>
      <%= @tier_list_item.description %>
    </h6

    <h6 role="heading">
      <strong>Tier:</strong>
      <%= @tier_list_item.tier %>
    </h6>

    <h6 role="heading">
      <strong>Justification:</strong>
      <%= @tier_list_item.justification %>
    </h6>
    <% if user_signed_in? %>
      <button type="button" class="btn btn-primary text-white" color="inherit"><%= link_to 'Edit', edit_tier_list_tier_list_item_path(@tier_list, @tier_list_item), class:"nav-link" %></button> |
      <button type="button" class="btn btn-primary text-white" color="inherit"><%= link_to 'Destroy', tier_list_tier_list_item_path(@tier_list, @tier_list_item), method: :delete, data: { confirm: 'Are you sure?' },    class:"nav-link" %> </button> |
      <button type="button" class="btn btn-primary text-white" color="inherit"><%= link_to 'Back', tier_list_path(@tier_list) , class:"nav-link" %></button>
    <% end %>
  </div>
</body>