<body style="background-color:aquamarine;">

<div class="container">
  <%= form_with(model: tier_list) do |form| %>
    <% if tier_list.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(tier_list.errors.count, "error") %> prohibited this tier_list from being saved:</h2>

        <ul>
          <% tier_list.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="field col-6 mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="field col-10 mb-3">
        <%= form.label :description, class: 'form-label' %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>

      <div class="field col-6 mb-3">
        <%= form.label :numTiers, 'Number of tiers', class: 'form-label' %>
        <%= form.number_field :numTiers, class: 'form-control' %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
</body>
